.image-grid {
    display: flex;
    flex-wrap: wrap;
    max-width:80vw;
    margin-left:10vw;
    margin-top:70px;
    margin-right:6vw;
}
.container-5{
z-index: 1;
}

.shadow-2 {
    background-size: cover;
    height: 22vw;
    width: 22vw;
    position: relative;
    margin-left:4.5vw;
    margin-bottom:4vw;
    z-index:50;
}

.shadow-2 img{
    box-shadow: inset 0px 20px 20px black;
    border-color: black;
    position: relative;
    border-radius:10px;
    border-width: 2.5px;
    border-style: solid;
    height: auto;
    z-index: -20;
    background-size: cover;
    height: 22vw;
    width: 22vw;
}

.text-overlay { 
    position: absolute;
    bottom: 0;
    left: -5%;
    right: 0;
    color: #ffffff;
    margin-left:1.8vw;
    font-size:3.5vw;
    text-shadow: 0px 0px 20px #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}

@media (max-width:700px) {
  .shadow-2{
    height:35vw;
    width:35vw;
  }  
  .shadow-2 img{
    height:35vw;
    width:35vw; 
  }
  .text-overlay{
    font-size:5vw;
    margin-left:3vw;
  }
}
  