.image-grid {
    display: flex;
    flex-wrap: wrap;
    max-width:1300px;
    margin-left:230px;
    margin-top:70px;
}

.shadow-2 {
    background-size: cover;
    height: 350px;
    width: 350px;
    position: relative;
    margin-left:1px;
    margin-bottom:1px;
    z-index:50;
}

.shadow-2 img{
    box-shadow: inset 0px 20px 20px black;
    border-color: black;
    position: relative;
    border-radius:10px;
    border-style: solid;
    height: auto;
    z-index: -20;
    background-size: cover;
    height: 260px;
    width: 260px;
}

.text-overlay { 
    position: absolute;
    bottom: 0;
    left: -5%;
    right: 0;
    color: #000000;
    margin-bottom:89px;
    margin-left:25px;
    font-size:40px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}