
div.container{
    margin-top:150px;
    max-width: 700px;
}
input{
    max-width:700px;
}
label.col-md-4.col-form-label.text-md-end{
   width:50px;
   margin-left:-40px;
}
div.col-md-6{
    max-width:400px;
}
div.col-md-6.offset-md-4{
margin-left:235px;
}

input{
    width:300px;
}
.form-control{
    width:150%;
}